<div class="auth-main">
  <div class="auth-block">
    <h1>Change Password</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="form-horizontal">

      <div class="form-group row" [ngClass]="{'has-error': (!currentPassword.valid && currentPassword.touched), 'has-success': (currentPassword.valid && currentPassword.touched)}">
        <label for="inputOldPassword" class="col-sm-4 control-label">Old Password</label>

        <div class="col-sm-8">
          <input [formControl]="currentPassword" type="password" class="form-control" id="inputOldPassword" placehcurrenter="Old Password">
          <span *ngIf="!currentPassword.valid && currentPassword.touched" class="help-block sub-little-text">Old password is required</span>
        </div>
      </div>
      <div class="form-group row" [ngClass]="{'has-error': (!newPassword.valid && newPassword.touched), 'has-success': (newPassword.valid && newPassword.touched)}">
        <label for="inputNewPassword" class="col-sm-4 control-label">New Password</label>

        <div class="col-sm-8">
          <input [formControl]="newPassword" type="password" class="form-control" id="inputNewPassword" placehcurrenter="NewPassword">
          <span *ngIf="!newPassword.valid && newPassword.touched" class="help-block sub-little-text">New Password is required and at least should be 6 characters</span>
        </div>
      </div>

      <div class="form-group row" [ngClass]="{'has-error': (!confirmNewPassword.valid && confirmNewPassword.touched), 'has-success': (confirmNewPassword.valid && confirmNewPassword.touched)}">
        <label for="inputConfirmNewPassword" class="col-sm-4 control-label">Confirm New Password</label>

        <div class="col-sm-8">
          <input [formControl]="confirmNewPassword" type="password" class="form-control" id="inputConfirmNewPassword" placehcurrenter="Confirm NewPassword">
          <span *ngIf="!passwords.valid && (newPassword.touched || confirmNewPassword.touched)" class="help-block sub-little-text">New Passwords don't match.</span>
        </div>
      </div> 

      <div class="form-group row">
        <div class="offset-sm-4 col-sm-8">
          <button [disabled]="!form.valid" type="submit" class="btn btn-default btn-auth">Save</button>
        </div>
      </div>
    </form>

  </div>

</div>