<div class="row" *ngIf="rule">
  <div class="col-md-8">
    <h2>{{rule.name}}</h2>

    <form class="form-horizontal">


      <!--Color -->
      <div class="form-group row" *ngIf="rule.style.color !=null">
        <label for="color" class="col-sm-3 form-control-label"> Text Color</label>
        <div class="col-sm-5">
          <input [(colorPicker)]="rule.style.color" [style.color]="rule.style.color" name="color" class="form-control" readonly="true"
            value="Click to change" [cpPosition]="'bottom'" [cpSaveClickOutside]="false" [cpOKButton]="true" [cpOKButtonClass]="'btn btn-primary btn-sm'"
            [cpCancelButton]="true" [cpCancelButtonClass]="'btn btn-primary btn-sm'" [cpOutputFormat]="'rgba'" />
        </div>
        <div class="col-sm-4">
          <button class="btn btn-default" type="button" [disabled]="rule.style.color==rule.initial_style.color" (click)="resetColorValue('color')"
            [style.background]="rule.initial_style.color">Undo</button>
          <button class="btn btn-default" type="button" [disabled]="rule.style.color == EditRuleStyleComponent.DefaultColor" (click)="clearColorValue('color')">clear</button>
        </div>
      </div>
      <!--Background Color -->
      <div class="form-group row" *ngIf="rule.style.background_color !=null">
        <label for="color" class="col-sm-3 form-control-label"> Background Color</label>
        <div class="col-sm-5">
          <input [(colorPicker)]="rule.style.background_color" [style.backgroundColor]="rule.style.background_color" name="backgroundColor" class="form-control"
            readonly="true" value="Click to change" [cpPosition]="'bottom'" [cpSaveClickOutside]="false" [cpOKButton]="true"
            [cpOKButtonClass]="'btn btn-primary btn-sm'" [cpCancelButton]="true" [cpCancelButtonClass]="'btn btn-primary btn-sm'"
            [cpOutputFormat]="'rgba'" />
        </div>
        <div class="col-sm-4">
          <button class="btn btn-default" type="button" [disabled]="rule.style.background_color==rule.initial_style.background_colorcolor" (click)="resetColorValue('background_color')"
            [style.background]="rule.initial_style.background_color">Undo</button>
          <button class="btn btn-default" type="button" [disabled]="rule.style.background_color == EditRuleStyleComponent.DefaultColor" (click)="clearColorValue('background_color')">clear</button>
        </div>
      </div>
      <!--background Image -->
      <div class="form-group row" *ngIf="rule.style.background_image != null">
        <label for="background_image" class="col-sm-3 form-control-label">Background Image</label>
        <div class="col-sm-5">
          <ba-picture-uploader [picture]="getImage(rule.style.background_image)" [defaultPicture]="defaultPicture" [uploaderOptions]="uploaderOptions"
            (filesSelected)="filesSelected('background_image', $event)"></ba-picture-uploader>

        </div>

      </div>
      <div class="form-group row">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-5">
          <button type="button" (click)="goBack(null)" class="btn btn-danger">Back</button>
          <button type="button" (click)="save()" class="btn btn-success">Save</button>
        </div>
      </div>
    </form>

  </div>



</div>